<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MeowNotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-4.3.1/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/meownotes.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/meownotes.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand app-title" href="{{ url_for('pawprint.dashboard') }}"><img
                src="{{ url_for('static', filename='img/logo.png') }}"
                style="max-width:40px;margin-right:0.5rem;">MeowNotes
        </a>
        <!-- main menu interaction area: notification, search, see cat, login/logout -->
        <div style="display:flex; flex-direction: row">
            <!-- handle notifications (info and error) -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% if messages[0][0] == "error" %}
                    <div class="meownotes-button meownotes-link btn btn-med btn-primary btn-block meownotes-bg-warning"
                        style="width:4rem" data-toggle="tooltip" title="{{ messages[0][1] + ' (click to clear)' }}">
                        <a href="{{ url_for('pawprint.clear_messages')}}">
                            <i class="fas fa-exclamation-triangle meownotes-errors"></i>
                        </a>
                    </div>
                    {% else %}
                    <div class="meownotes-button meownotes-link btn btn-med btn-primary btn-block meownotes-go-accent mr-1 ml-1"
                        style="width:4rem" data-toggle="tooltip" title="{{ messages[0][1] + ' (click to clear)' }}">
                        <a href="{{ url_for('pawprint.clear_messages')}}">
                            <i class="fas fa-info-circle meownotes-info"></i>
                        </a>
                    </div>
                    {% endif %}
                {% endif %}
            {% endwith %}
            <!-- show the search field only if logged in  -->
            {% if menu_item == "logout" %}
            <form method="POST" action="{{ url_for('pawprint.search') }}" class="ml-1 mr-1">
                <div class="input-group">
                    <input type="text" id="search" name="search" class="form-control mr-mini meownotes-input"
                        placeholder="search" required="">
                    <span class="input-group-btn">
                        <button class="meownotes-button btn btn-med btn-primary btn-block" type="submit"
                            data-toggle="tooltip" title="search for a note"><i class="fas fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            {% endif %}
            <!-- see a cat, available logged in and out -->
            <div class="meownotes-button meownotes-link ml-1 mr-1"
                style="width:4rem;line-height:1.2" data-toggle="tooltip"
                title="view a cat!">
                <span class="align-middle">
                    <a href="{{ url_for('pawprint.cat') }}"><i class="fas fa-cat"></i></a>
                </span>
            </div>
            <!-- login / logout based on current status -->
            <div class="meownotes-button meownotes-link ml-1"
                style="width:8rem;line-height:1.2">
                <span class="align-middle">
                    {% if menu_item == 'logout' %}
                    <a href="{{ url_for('pawprint.logout') }}"><i class="fas fa-sign-out-alt"></i> {{menu_item}}</a>
                    {% else %}
                    <a href="{{ url_for('pawprint.landing') }}"><i class="fas fa-sign-in-alt"></i> {{menu_item}}</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-4.3.1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
</body>

</html>