<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "meownotes.html" %}

<head>
    <meta charset="utf-8">
    <title>MeowNotes</title>
    {% block head %}
    {{ super() }}
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="content main">
        <div class="row">
            <div class="col my-auto text-center">
                <div class="my-auto">
                    <h1>number of results: {{ num }}</h1>
                    {{ msg }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-3 my-auto text-center">
                <div class="my-auto">
                    <p>want to limit your search to a certain field? use the filters below!</p>
                    <p style="font-style:italic">search term: {{ term }}</p>
                    <form method="POST" action="{{ url_for('pawprint.filter') }}">
                        <input type="checkbox" name="fields" value="title" {% if 'title' in filters %}checked{% endif %}> title
                        <input type="checkbox" name="fields" value="tags" class="ml-1" {% if 'tags' in filters %}checked{% endif %}> tags
                        <input type="checkbox" name="fields" value="content" class="ml-1" {% if 'content' in filters %}checked{% endif %}> note content
                        <button class="meownotes-button btn btn-med btn-primary btn-block mt-1" type="submit"><i
                                class="fas fa-filter"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row dash-notes-row align-items-center">
            {% for note in data %}
            <div class="col-4 text-center dash-notes-col my-auto">
                <div class="dashboard-note card">
                    <div class="card-contents my-auto">
                        <div class="row">
                            <div class="col">
                                <h1>{{ note['title'] }}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5>date created: {{ note['ui_date'] }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>tags: {{ note['tags'] }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="meownotes-button meownotes-link my-auto">
                                    <span class="align-middle">
                                        <a href="{{ url_for('pawprint.view', id=note['note_id']) }}"><i class="far fa-eye"></i>
                                            view</a>
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <form method="POST" action="{{ url_for('pawprint.delete') }}">
                                    <input type="hidden" id="note_id" name="note_id" value="{{ note['note_id'] }}">
                                    <button
                                        class="meownotes-button meownotes-link btn btn-med btn-primary btn-block meownotes-bg-warning"
                                        type="submit"><i class="fas fa-trash"></i> delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>

</html>